<section class="side-bar">
    <h1>Bloc Chat</h1>
    <button type="button" ng-click="addRoomModal()">New Room</button>
    <div class="chat-rooms" ng-repeat="room in roomList" ng-click="setCurrentRoom(room)">
        <p>{{ room.name }}</p>
    </div>
</section>

<section class="currentRoom">
    <div class="chat-name">
        <h3>{{ currentRoom.name }}</h3>
    </div>
    <div class="chat-messages" ng-repeat="message in messages">
        <p>{{ message.username }} @ {{message.sentAt }}</p>
        <p>{{ message.content }}</p>
    </div>
</section>